<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/icon.jpg" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../register.css">
    <script src=".../js/script.js"></script>
    <title>Account</title>
</head>
<body>
    <center>
        <div class="form-wrapper Cadastro">

            <form th:action="@{/usuario/cadastrar}" th:object="${usuario}" method="post">
                <h2>Cadastrar</h2>
                <div class="input-grupo">
                    <input type="text" th:field="*{nome}" id="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="input-grupo">
                    <input type="email" th:field="*{email}" id="email" required>
                    <label for="email">E-mail</label>
                </div>
                <div class="input-grupo">
                    <input type="password" th:field="*{senha}" id="senha" required>
                    <label for="senha">Senha</label>
                </div>
                <div class="lembrar">
                    <label><input type="checkbox">Eu concordo com os termos e condições</label>
                </div>
                <button type="submit">Logar</button>
                <div class="registrar-link">
                    <p>Possui uma conta?<a class="LoginBtn-link" href="#">Faça Login</a></p>
                </div>
            </form>
        </div>
    </div>
    </center>


</body>
</html>