<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/icon.jpg" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/register.css">
    <title>Account</title>
</head>
<body>

    <div class="wrapper">
        <div class="form-wrapper Login">
            <form action="">
                <h2>Login</h2>
                <div class="input-grupo">
                    <input type="text" required>
                    <label for="">Username</label>
                </div>
                <div class="input-grupo">
                    <input type="password" required>
                    <label for="">Senha</label>
                </div>
                <div class="lembrar">
                    <label><input type="checkbox">Lembrar de mim</label>
                </div>
                <button type="submit">Logar</button>
                <div class="registrar-link">
                    <p>Não tem uma conta?<a class="LoginBtn-link" href="#">Crie uma agora</a></p>
                </div>
            </form>
        </div>

        <div class="form-wrapper Cadastro">
            <form action="">
                <h2>Cadastrar</h2>
                <div class="input-grupo">
                    <input type="text" required>
                    <label for="">Username</label>
                </div>
                <div class="input-grupo">
                    <input type="email" required>
                    <label for="">E-mail</label>
                </div>
                <div class="input-grupo">
                    <input type="password" required>
                    <label for="">Senha</label>
                </div>
                <div class="lembrar">
                    <label><input type="checkbox">Eu concordo com os termos e condições</label>
                </div>
                <button type="submit">Logar</button>
                <div class="registrar-link">
                    <p>Possui uma conta?<a class="registrarBtn-link" href="#">Faça Login</a></p>
                </div>
            </form>
        </div>
    </div>
    
    <script src="/js/script.js"></script>
</body>
</html>