<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/icon.jpg" type="image/png">
    <link rel="stylesheet" href="../product.css">
    <title>Adicionar Produto</title>
</head>
<body>

<section class="container">
    <header>Adicionar Produto</header>


    <form th:action="@{/produtos/salvar}" th:object="${produto}" method="post" class="form">
        <div class="input-box">
            <label for="descricao">Descrição</label>
            <input id="descricao" type="text" th:field="*{descricao}" placeholder="Informe a descrição" required>
        </div>

        <div class="input-box">
            <label for="valor">Valor</label>
            <input id="valor" type="number" step="0.01" th:field="*{valor}" placeholder="Informe o valor" required>
        </div>
        <div class="input-box">
            <label for="estoque">Estoque</label>
            <input id="estoque" type="text" th:field="*{qtdEstoque}" placeholder="Informe a quantidade em estoque" required>
        </div>
        <button type="submit">Cadastrar</button>
    </form>

    <a th:href="@{/}" class="btn">Início</a>
</section>

</body>
</html>
