<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/icon.jpg" type="image/png">
    <link rel="stylesheet" href="../product.css">
    <title>Adicionar Produto</title>
</head>
<body>

    <section class="container">
        <header>Adicionar Produto</header>
        <form action="#" class="form">
            <div class="input-box">
                <label for="">Descrição</label>
                <input type="text" placeholder="Informe a descrição">
            </div>

            <div class="input-box">
                <label for="">Valor</label>
                <input type="number" placeholder="Informe o valor">
            </div>

            <div class="input-box">
                <label for="">Gamer</label>
                <input type="number" placeholder="Informe se é gamer">
            </div>

            <div class="input-box">
                <label for="">Quantidade</label>
                <input type="number" placeholder="Informe a quantidade">
            </div>
            <button>Cadastrar</button>
        </form>

        <a href="index.html" class="btn">Inicio</a>
    </section>
    
</body>
</html>